/************************** Historial de usuario*******************************/


.datos_cliente{
	width:  450px; 
	margin: auto;
}

.datos_cliente h1 {
	color: #0202f9; 	
}
.datos_cliente hr{

	border: 0; 
	background: #ccc; 
	height: 1px; 
	margin: 10px 0; 
	display: block;
}

.datos_cliente form{
	background: #fff; 
	margin: auto;
	padding: 20px 50px; 
	border: 1px solid #0202f9; 
     
	}
	
.datos label {
	margin: 10px auto;

}

.wc30{
	width: 30%;

}
.wc40{
	width: 40%;
}
.wc60{
	width: 60%;
}
.wc100{
	width: 100%;
}